
<div class="rapper">
    <div class="container">
<div class="nav">
    <div class="nav-left">
      <img src="https://leather-zone-demo.zohocommerce.com/logo-03.png" alt="">
      <i class="ri-menu-2-line"></i>
    </div>
    <div class="nav-right">
      <i class="ri-close-fill cross"></i>
      <li><a href="/">Home</a></li>
      <li><a href="/belts">Belts</a></li>
      <li><a href="/shoes">Shoes</a></li>
      <li><a href="/wallets">Wallets</a></li>
      <li><a href="/termscondition">Terms and Conditions</a></li>
      <li><a href="/contact">Contact</a></li>
      <div class="nav-icon"><a href="/profile" class=" ri-user-2-fill"></a>
        |
        <a href="/addcart"class=" ri-shopping-cart-line"></a>
         <a href="/addcart">
          <%=allcart.length%>
         </a>
      </div>
    </div>
  </div>

  <!-- </div>
  </div> -->