<%- include("partials/header")%>
<%- include("partials/nav")%>
<script src="https://cdn.tailwindcss.com"></script>
<div class="h-[50vh] w-[100%] ">
<div class="contact h-[45vh] w-[100%] bg-red-400">
    <div class=" absolute h-[45vh] w-[100%] bg-orange-700  opacity-50 ">
        <div class="h-[22vh] w-[23%] border-8 boder-solid-red-800 ml-[39%]  z-500 mt-[5.5%]"><h1 class=" text-4xl font-bold text-white z-500 text-center mt-8">CONTACT US</h1></div>
    </div>
    <img class=" h-[45vh] w-[100%] bg-no-repeat  object-cover bg-center" src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-746.jpg" alt="">
   
</div>
</div> 

<div class="h-[100vh] w-[100%]  flex gap-[10%]">
    <div class="img h-[99vh] w-[40%] bg-yellow-400 ml-[6%]">
        <img class="h-[99vh] w-[100%] bg-no-repeat bg-cover  object-cover bg-center" src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-757.jpg" alt="">
    </div>
    <div class="h-[80vh] w-[28%]  mt-[6%]">
        <h1 class="text-4xl">Visit Our Store</h1>
        <h2 class="text-2xl mt-7"><i class="ri-map-pin-2-line text-2xl text-orange-800 mr-4"></i> Address</h2>
        <p class="text-xl mt-7">85112 Bhith Bhagwanpur Begusarai Bihar Phone:7808426662 Email: dinkardiwakar0@gamil.com</p>
        <h1 class="text-4xl mt-9">Reach Us</h1>
        <h2 class="text-xl mt-7"><i class="ri-phone-line text-xl text-orange-800 mr-3"></i> +7808426662</h2>
        <h2 class="text-xl mt-6"><i class="ri-mail-open-line text-orange-800  text-xl mr-3"></i>dinkarcod780</h2>
    </div>
</div>

<div class="footer">
    <div class="subscribe">
      <div class="first-subscribe">
        <h1>Subscribe to our newsletter</h1>
      </div>
      <div class="connect ml-[5%]">
    <form action="/subscribe" method="post">
      <input type="text" placeholder="Name" name="name">
      <input type="text" placeholder="Email" name="email">
      <button class="bg-green-400">Subscribe</button>
    </form>
      </div>
    </div>
    <div class="pay">
      <div class="pay-dami">
        <h1>Company</h1>
        <h2>About Us</h2>
        <h3>Careers</h3>
        <h4>Press</h4>
        <h5>Sell with Us</h5>
      </div>
      <div class="pay-dami">
        <h1>Help</h1>
        <h2>Payments</h2>
        <h3>Shipping</h3>
        <h4>Return & Cancellation</h4>
        <h5>FAQ</h5>
      </div>
      <div class="pay-dami">
        <h1>Terms and Policies</h1>
        <h2>Privacy Policies</h2>
        <h3>Support Policies</h3>
        <h4>Terms of Sales</h4>
        <h6>Pay with</h6>
        <div class="visa">
          <a href=""><img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-758.png" alt=""></a>
        </div>
        
      </div>
      <div class="pay-dami">
        <h1>Contact Us</h1>
        <h2><i class="ri-phone-line"></i>   +91-7808426662</h2>
        <h3><a href="https://github.com/dinkarcod780" class="ri-github-line">https://github.com/dinkarcod780</a></h3>
        <h4><a href="https://www.linkedin.com/in/dinkar-diwakar-038599257/" class="ri-linkedin-box-fill">LinkedIn</a></h4>
      </div>
    </div>
    <div class="pay-line"></div>
    <div class="names">
     <h1>Develop By Dinkar Paswan</h1>
    </div>
  </div>
  
  

<%- include("partials/header")%>
