<%- include("partials/header")%>
<%- include("partials/nav")%>

  <div class="rapper">
  <div class="container">
  <div class="main">
    <div class="page1">
      <!-- <div class="page1-abs"></div> -->
      <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-747.jpg" alt="">
            <div class="pera"><h1>Special Offers</h1><i class="ri-subtract-line"></i>
            <div class="percetage"><h2>Buy one belt and get 20% off on the second belt.</h2>
            <a href=""><button>Buy Now!</button></a>
            </div>
            </div>
            </div>
            <div class="swiper-slide">
              <img src="https://www.theodoredesigns.com.au/cdn/shop/collections/all-leather-collection-theodore-designs-melbourne-or-australia-s-premier-shopping-destination.jpg?v=1666306845&width=760" alt="">
              <div class="blur">
              <div class="save"><h1>NEW ARRIVAL</h1><i class="ri-subtract-line"></i>
                <div class="up"><h2>SAVE UP TO 50%</h2>
                  <div class="collection"><h3>New Offer in New Arrival Collections</h3></div>
                <a href=""><button>Shop Now!</button></a>
                </div>
                </div>
              </div>
             </div>
          </div>
          <!-- <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div> -->
          <div class="swiper-pagination"></div>
        </div>
  </div>   
  </div>
</div>
<div class="page-sale">
  <div class="custom">
   <div class="only">
     <h1>SALE:</h1>
     <p>Only until stocks last flat 50% off</p>
     <a href="">Shop Now the Sale!</a>
   </div>
   <div class="watch">
     <div class="show-1"> <img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-748.jpg" alt=""></div>
     <div class="show-2"> <img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-750.jpg" alt=""></div>
   </div>
   <div class="book"> <img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-749.jpg" alt=""></div>
  </div>
</div>
<div class="goods">
 <div class="goods-head"><h1>All Products</h1></div>
 <div class="product-collection">
   <div class="total-collection">
     <div class="packet-1"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-01-01.png/2276989000000069325/300x300" alt="">
     <div class="cart">
       <a href="/allproducts">Quick View</a>
       <div class="line"></div>
       <a href="/addcart">Add to Cart</a>
     </div>
     </div>
     <div class="artificial"><a href="/wallets">Artificial Leather Wallet</a>
     <h3>$10.00</h3>
     </div>
   </div>
   <div class="total-collection">
     <div class="packet-1"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-03-01.png/2276989000000070900/300x300" alt="">
       <div class="cart">
         <a href="/allproducts">Quick View</a>
         <div class="line"></div>
         <a href="/addcart">Add to Cart</a>
       </div>
       </div>
       <div class="artificial"><a href="/">Casual Black Genuine Leather Wallet</a>
       <h3>$12.00</h3>
       </div>
   </div>
   <div class="total-collection">
     <div class="packet-1"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-09-01.png/2276989000000069373/300x300" alt="">
       <div class="cart">
         <a href="/allproducts">Quick View</a>
         <div class="line"></div>
         <a href="/addcart">Add to Cart</a>
       </div>
       </div>
       <div class="artificial"><a href="/">Exclusive Formal Shoe Derby For Men</a>
       <h3>$15.00- $25.00</h3>
       </div>
   </div>
 </div>
 <div class="product-collection">
  <div class="total-collection">
    <div class="packet-1"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-04-01.png/2276989000000070846/300x300" alt="">
    <div class="cart">
      <a href="/allproducts">Quick View</a>
      <div class="line"></div>
      <a href="/addcart">Add to Cart</a>
    </div>
    </div>
    <div class="artificial"><a href="/">Exclusive Leather Belts</a>
    <h3>$10.00 $15.00</h3>
    </div>
  </div>
  <div class="total-collection">
    <div class="packet-1"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-06-01.png/2276989000000069305/300x300" alt="">
      <div class="cart">
        <a href="/allproducts">Quick View</a>
        <div class="line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="artificial"><a href="/">GENTS LEATHER BELT</a>
      <h3>$10.00-$23.00</h3>
      </div>
  </div>
  <div class="total-collection">
    <div class="packet-1"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-07-01.png/2276989000000069345/300x300" alt="">
      <div class="cart">
        <a href="/allproducts">Quick View</a>
        <div class="line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="artificial"><a href="/">GENTS LEATHER FORMAL SHOE</a>
      <h3>$15.00- $25.00</h3>
      </div>
  </div>
</div>
<div class="product-collection">
  <div class="total-collection">
    <div class="packet-1"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-05-01.png/2276989000000069311/300x300" alt="">
    <div class="cart">
      <a href="/allproducts">Quick View</a>
      <div class="line"></div>
      <a href="/addcart">Add to Cart</a>
    </div>
    </div>
    <div class="artificial"><a href="/ladiesbelt">LADIES BELT</a>
    <h3>$10.00 $15.00</h3>
    </div>
  </div>
  <div class="total-collection">
    <div class="packet-1"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-08-01.png/2276989000000069361/300x300" alt="">
      <div class="cart">
        <a href="/allproducts">Quick View</a>
        <div class="line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="artificial"><a href="/">Men Leather Formal Shoe</a>
      <h3>$15.00 $19.00</h3>
      </div>
  </div>
  <div class="total-collection">
    <div class="packet-1"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-02-01.png/2276989000000069337/300x300" alt="">
      <div class="cart">
        <a href="/allproducts">Quick View</a>
        <div class="line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="artificial"><a href="/">Mens 1 Fold Wallet</a>
      <h3>$15.00</h3>
      </div>
  </div>
</div>

</div>
<div class="product-part">
  <div class="ourproducts">
    <h1>OUR PRODUCTS</h1>
    <div class="product-line"></div>
    <p>All our products are made from the finest leathers sourced from Chicago, Illnois. We promise you the finest quality while you promise to be our brand ambassador. Making us proud everyday.</p>
  </div>

  <div class="shop">
    <div class="shop-card">
      <div class="show-img">
        <img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-751.png" alt="">
      </div>
      <h1>Leather Shows</h1>
      <a href="/allproducts">Shop Now!</a>
    </div>
    <div class="shop-card">
      <div class="show-img">
        <img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-752.png" alt="">
      </div>
      <h1>Leather Belts</h1>
      <a href="">Shop Now!</a>
    </div>
    <div class="shop-card">
      <div class="show-img">
        <img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-753.png" alt="">
      </div>
      <h1>Leather Wallets</h1>
      <a href="">Shop Now!</a>
    </div>
    <div class="shop-card">
      <div class="show-img">
        <img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-754.png" alt="">
      </div>
      <h1>Leather Bags</h1>
      <a href="">Shop Now!</a>
    </div>
  </div>
  <div class="selling-product">
    <h1>Best Selling Products</h1>
  </div>
  <div class="selling-card">
    <div class="selling-collection">
      <div class="selling-packet"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-04-01.png/2276989000000070846/300x300" alt="">
      <div class="selling-bug">
        <a href="/">Quick View</a>
        <div class="selling-line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="selling-artificial"><a href="/">Exclusive Leather Belts</a>
      <h3>$10.00 $15.00</h3>
      </div>
    </div>

    <div class="selling-collection">
      <div class="selling-packet"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-05-01.png/2276989000000069311/300x300" alt="">
      <div class="selling-bug">
        <a href="/">Quick View</a>
        <div class="selling-line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="selling-artificial"><a href="/ladiesbelt">LADIES BELT</a>
      <h3>$10.00-$15.00</h3>
      </div>
    </div>

    <div class="selling-collection">
      <div class="selling-packet"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-06-01.png/2276989000000069305/300x300"alt="">
      <div class="selling-bug">
        <a href="/">Quick View</a>
        <div class="selling-line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="selling-artificial"><a href="/">GENTS LEATHER BELT</a>
      <h3>$10.00-$23.00</h3>
      </div>
    </div>
    
    
  </div>
</div>
 
<div class="choose-collection">
  <div class="choose-img">
    <div class="wallet-now">
      <h1>Choose Collection From Wallets Now!!</h1>
      <p>Each person's personality is defined by the accessories he uses. Choose from a wide range of wallets that enhance your personality.</p>
      <a href="">Shop Now!</a>
    </div>
    <div class="choose-bluer"></div>
  </div>
  <div class="best-shoes">
    <h1>Best Collection in Shoes</h1>
  </div>
  <div class="good-collection">

    <div class="last-collection">
      <div class="first-packet"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-09-01.png/2276989000000069373/300x300" alt="">
      <div class="last-bug">
        <a href="/">Quick View</a>
        <div class="second-line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="sold-artificial"><a href="/">Exclusive Formal Shoe Derby For Men</a>
      <h3>$15.00-$25.00</h3>
      </div>
    </div> 

    <div class="last-collection">
      <div class="first-packet"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-07-01.png/2276989000000069345/300x300" alt="">
      <div class="last-bug">
        <a href="/">Quick View</a>
        <div class="second-line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="sold-artificial"><a href="/">GENTS LEATHER FORMAL SHOE</a>
      <h3>$10.00-$19.00</h3>
      </div>
    </div> 



    <div class="last-collection">
      <div class="first-packet"> <img src="https://leather-zone-demo.zohocommerce.com/product-images/product-08-01.png/2276989000000069361/300x300" alt="">
      <div class="last-bug">
        <a href="/">Quick View</a>
        <div class="second-line"></div>
        <a href="/addcart">Add to Cart</a>
      </div>
      </div>
      <div class="sold-artificial"><a href="/">Men Leather Formal Shoe</a>
      <h3>$15.00 $19.00</h3>
      </div>
    </div> 


   
  
      
  </div>
 
</div>


<div class="footer">
  <div class="subscribe">
    <div class="first-subscribe">
      <h1>Subscribe to our newsletter</h1>
    </div>
    <div class="connect">
  <form action="/subscribe" method="post">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="Email" name="email">
    <button>Subscribe</button>
  </form>
    </div>
  </div>
  <div class="pay">
    <div class="pay-dami">
      <h1>Company</h1>
      <h2>About Us</h2>
      <h3>Careers</h3>
      <h4>Press</h4>
      <h5>Sell with Us</h5>
    </div>
    <div class="pay-dami">
      <h1>Help</h1>
      <h2>Payments</h2>
      <h3>Shipping</h3>
      <h4>Return & Cancellation</h4>
      <h5>FAQ</h5>
    </div>
    <div class="pay-dami">
      <h1>Terms and Policies</h1>
      <h2>Privacy Policies</h2>
      <h3>Support Policies</h3>
      <h4>Terms of Sales</h4>
      <h6>Pay with</h6>
      <div class="visa">
        <a href=""><img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-758.png" alt=""></a>
      </div>
      
    </div>
    <div class="pay-dami">
      <h1>Contact Us</h1>
      <h2><i class="ri-phone-line"></i>   +91-7808426662</h2>
      <h3><a href="https://github.com/dinkarcod780" class="ri-github-line">https://github.com/dinkarcod780</a></h3>
      <h4><a href="https://www.linkedin.com/in/dinkar-diwakar-038599257/" class="ri-linkedin-box-fill">LinkedIn</a></h4>
    </div>
  </div>
  <div class="pay-line"></div>
  <div class="names">
   <h1>Develop By Dinkar Paswan</h1>
  </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/javascripts/script.js"></script>

<%- include("partials/footer")%>