<%- include("partials/header")%>
<%- include("partials/nav")%>
<script src="https://cdn.tailwindcss.com"></script>

<div class="term h-[60vh] w-[70%]  ml-[6%] mt-[6%]">

    <div class="h-[13vh] w-[100%] font-serif">
        <h1 class="text-4xl">Terms and Conditions:</h1>
    </div>
    <h2 class="text-xl mt-3 font-serif">1.Products may differ from the original images due to the lighting and material differences.</h2>
    <h2 class=" text-xl mt-3 font-serif">2.Products can be returned within 10 days of delivery.</h2>
    <h2 class=" text-xl mt-3 font-serif">3.The product will be accepted only if the packaging is undamaged..</h2>
    <h2 class=" text-xl mt-3 font-serif">4.The original receipt of the product should be intact with the product.</h2>
    <h2 class=" text-xl mt-3 font-serif">2.The product should not have been used.</h2>

</div>


<div class="footer">
    <div class="subscribe">
      <div class="first-subscribe">
        <h1>Subscribe to our newsletter</h1>
      </div>
      <div class="connect ml-[5%]">
    <form action="/subscribe" method="post">
      <input type="text" placeholder="Name" name="name">
      <input type="text" placeholder="Email" name="email">
      <button class="bg-green-400">Subscribe</button>
    </form>
      </div>
    </div>
    <div class="pay">
      <div class="pay-dami">
        <h1>Company</h1>
        <h2>About Us</h2>
        <h3>Careers</h3>
        <h4>Press</h4>
        <h5>Sell with Us</h5>
      </div>
      <div class="pay-dami">
        <h1>Help</h1>
        <h2>Payments</h2>
        <h3>Shipping</h3>
        <h4>Return & Cancellation</h4>
        <h5>FAQ</h5>
      </div>
      <div class="pay-dami">
        <h1>Terms and Policies</h1>
        <h2>Privacy Policies</h2>
        <h3>Support Policies</h3>
        <h4>Terms of Sales</h4>
        <h6>Pay with</h6>
        <div class="visa">
          <a href=""><img src="https://static.zohocdn.com/sites/stock-images/images/zpstock-image-758.png" alt=""></a>
        </div>
        
      </div>
      <div class="pay-dami">
        <h1>Contact Us</h1>
        <h2><i class="ri-phone-line"></i>   +91-7808426662</h2>
        <h3><a href="https://github.com/dinkarcod780" class="ri-github-line">https://github.com/dinkarcod780</a></h3>
        <h4><a href="https://www.linkedin.com/in/dinkar-diwakar-038599257/" class="ri-linkedin-box-fill">LinkedIn</a></h4>
      </div>
    </div>
    <div class="pay-line"></div>
    <div class="names">
     <h1>Develop By Dinkar Paswan</h1>
    </div>
  </div>

<%- include("partials/footer")%>
