<%- include("partials/header")%>

<%- include("partials/nav")%>
<script src="https://cdn.tailwindcss.com"></script>


<div class="bg-red-200 w-[50%] py-2 rounded-xl m-auto">
  <h1 class="text-center text-4xl font-extrabold text-red-600">Forget Password Reset</h1>
  
</div>
<form action="/userforgetpassword" class="mt-[2%] text-center" method="post">
  <input class="border-solid border-2 border-black-600 w-[40%] mb-10 boder-boder-zinc-500 p-3 rounded-md" type="email" placeholder="email@existing.user" name="email">
   <br>

   <button class="bg-green-800 text-white  w-[40%] mb-4 p-3 rounded-md hover:bg-green-600 text-xl">Submit Email</button>

</form>
 
<%- include("partials/footer")%>
